ul{
  margin: 0;
  padding:0;
  list-style-type: none;

}
.ul-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 1px 1px #ddd;
}
.ul-container ul {
  width: 50%;
  text-align: center;
}
.ul-container ul li{  
  padding:  .2em 1em; 
}
.ul-container ul li:nth-last-of-type(2n+1){  
  color:green;
}
.title {
    border-bottom: 1px solid #ddd;
    padding-bottom: .51em;
}